<div class="m-modal-window">
  <div class="modal-background"></div>
  <div class="m-container wrap">
    <div class="btn-close"></div>

    {{#if description}}
    <h3>Suggest changes to the description</h3>
      <div class="labels">
        <p>Description</p>
      </div>
      <form id="update-description" action="especies/{{species.speciesId}}"
        method="put">
        <textarea id="description">{{species.description}}</textarea>
        <button class="btn-cancel"></button>
        <button type="submit" class="btn-send" id="updateDescription">send</button>
      </form>
    {{/if}}

    {{#if distribution }}
    <h3>Suggest changes to the distribution</h3>
    <form id="update-distribution" action="">
      <div class="existing-items-list">
        <div class="labels">
          <p>Distribution</p>
        </div>
        {{#each species.distribution}}
          <div class="m-existing-item">
            <input id="region-{{id}}" type="text"
              value="{{region}}">
            <button id="delete-dist-{{id}}" class="dist-delete btn-delete"></button>
          </div>
        {{/each}}
        <div class="m-existing-item">
          <input class="new-item" id="region-" type="text"
            value="">
          <button class="btn-delete"></button>
        </div>
      </div>

      <button class="btn-add-new" id="add-new-dist">Add a new item</button>
      <button type="submit" class="btn-send">send</button>
      <button class="btn-cancel">Cancel</button>
    </form>
    {{/if}}

    {{#if commonNames}}
    <h3>Suggest changes to the common names</h3>
    <form id="update-common-names" action="">
      <div class="existing-items-list">
        <div class="labels">
          <p>Common name</p>
          <p>Language</p>
          <p>Region</p>
        </div>
        {{#each species.commonNames}}
          <div class="m-existing-item" id="common-name-{{id}}">
            <input type="text" value="{{name}}" class="name">
            <input type="text" value="{{language}}" class="language">
            <input type="text" value="{{region}}" class="region">
            <button id="delete-name-{{id}}" class="common-delete btn-delete"></button>
          </div>
        {{/each}}
        <div class="m-existing-item new-item">
          <input type="text" value="" class="name">
          <input type="text" value="" class="language">
          <input type="text" value="" class="region">
          <button class="btn-delete"></button>
        </div>
      </div>
      <button id="add-new-common" class="btn-add-new">Add a new item</button>
      <button type="submit" class="btn-send">send</button>
      <button class="btn-cancel">Cancel</button>
    </form>
    {{/if}}

  </div>
</div>
