{{#if pages}}
  <ul>
    {{#if prevPage}}
      <li><a href="?q={{query}}&page={{prevPage}}#especies" id="prevPage">&lt;</a></li>
    {{/if}}
    {{#each pages}}
      {{#if current}}
        <li class="is-current"><a href="?q={{../../query}}&page={{name}}#especies">{{name}}</a></li>
      {{else}}
        <li><a href="?q={{../../query}}&page={{name}}#especies">{{name}}</a></li>
      {{/if}}
    {{/each}}
    {{#if trunc}}
      <li>...</li>
    {{/if}}
    {{#if nextPage}}
      <li><a href="?q={{query}}&page={{nextPage}}#especies" id="nextPage">&gt;</a></li>
    {{/if}}
  </ul>
{{/if}}
